
/* *{
    border: 1px solid black;
 }*/
@font-face{
    font-family: Montserrat-Regular;
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: Montserrat-SemiBold;
     src: url('font/Montserrat-SemiBold.ttf');
 }
 p, li, h1,h2,h3,h4,h5,h6,label{
    font-family: Montserrat-Regular;
 }
 body{
    width: 100%;
 }
 h2{
    text-align: center;
 }

header{
    background-color: #F7F8FF;
    height: 70px;
    box-sizing: border-box;

    /*display: flex;
    width: 900px;
    margin: 0 auto;*/
}
header .container{
    border-bottom: 2px solid white;
}
.logo{
    flex-grow:1;
    margin-top: 10px;
    box-sizing: border-box;
}
#login{
    color: green;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}
.menu-header{
  flex-grow:1;
}
/*общий класс для всех*/
.container{
    display:flex;
    width: 900px;
    margin: 0 auto; 

}
/*BUTTON*/
#trial-btn{
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
#demo-btn{
    padding: 10px;
    border-radius: 10px;
    color: green;
}

.flex-center{
    justify-content: center;
}
.flex-space-between{
    justify-content: space-between;
}
.block{
   
    background: #ffffff;
    border-radius: 3px;
    width: 400px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px grey;

}
.block:hover{

   box-shadow: 15px 15px 15px grey;
}
.block-link h3{
    color: black;
}
.block-link p{
    color: #666;
}
.bg-gradient{
background: linear-gradient(352deg, rgb(255, 255, 255) 50%, rgb(247,249,255) 0%);
height: 100%;
width: 100%;
}
.logos-comp{
    margin-top: 40px;
}
header li{
    display: inline-block;
    list-style: none;
    padding: 5px 10px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.content{
   background-image: url(assets/images/hero.png);
    background-color: #F7F8FF;
    background-position: center;
   background-repeat: no-repeat;
    height: 450px;

}
.text-h1{
    width: 450px;
    margin-top: 50px;
}
.text-h1 p{
    border-bottom: 2px solid grey;
}

#active-a {
    background-color: #4991e3;
    padding: 10px;
    border-radius: 15px;
}
.link-a{
    padding: 10px; 
}
a{
    text-decoration: none;
}
.table-flex{
    display: flex;
    flex-wrap: wrap;

}
.table-flex-border{
   width: 50%;
    box-sizing: border-box;
    border: 2px solid #f9f9f9;
    height: 400px;

}
.table-flex-block{
    max-width: 450px;
    box-sizing: border-box;
     
}
.left{
    margin-left: auto;
}
.footer-img{
    background-image: url(assets/images/footer.png);
     background-position: center;
   background-repeat: no-repeat;
    height: 300px;
}
.form-block{
    
     width: 50%;
    box-sizing: border-box;
}
#submit-form{
    margin: 10px;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
input{
    width: 100%;
}
textarea{
    width: 100%;
}
/*.table-flex:nth-child(odd){
    margin-left: auto;
     padding: autp 30px auto 0;
     
}
.ttable-flex:nth-child(even){
    margin-right: auto;
}*/
footer{
     background-color: #F7F8FF;
}
.footer-block{
   flex-grow:1;

}
footer li{
    list-style: none;
}